*{
    padding: 0;
    margin: 0;
}
html {
    height: 100%;
}
body{
    height:100%;
    background-color:#FFE7E7;
}
nav{
    
    position: sticky;
    top: 0;
    box-shadow:0px 5px 7px rgba(0,0,0,0.2);
}
ul
{
    display:flex;
}
li{
    display:flex;
    justify-content:flex-end;

    height: 70px;
    width: 16.65%;
    list-style-type: none;
}

#menu{
    position: absolute;
    top:70px;
    
    
    display:none;
    background-color: #FFA4B6;
   
    width: 69.93%;
    height: 91%;
}

#menuWrapper{
    width: 100%;
    height:10%;
}

.poleTekstowe{
    background-color: #F9D1D1;

    width:150px;
    height: 200px;
}
/*zrobic zawijanie w menu*/
#menuContent{
    padding-top:10px;
    height:98%;
    width:100%;


    overflow-y:scroll;
    
}

#menuButton
{
    margin-top:7px;
    margin-right: 14px;
    border:none;
    width:30px;
    height:53px;
    
    background: url('icons/menuButton.png') no-repeat;
}
#content
{
    margin-top:10px;
    height:88%;
    overflow-y:scroll;
    overflow:auto;

}

li:nth-child(1){
   background-color: #0B1354; 
}
li:nth-child(2){
   background-color: #165BA9; 
}
li:nth-child(3){
   background-color: #A155B9; 
}
li:nth-child(4){
   background-color: #F765A3; 
}
li:nth-child(5){
   background-color: #FFA4B6; 
}
li:nth-child(6){
   background-color: #F9D1D1; 
}

#content::-webkit-scrollbar{
    width:17px;
}
#content::-webkit-scrollbar-track {
    background-color: #F9D1D1;
    border-radius: 15px;
}
#content::-webkit-scrollbar-thumb{
    border-radius:15px;
    border:solid #F9D1D1 4px;
    background-color:#FFA4B6;
}

#menuContent::-webkit-scrollbar {
    width: 17px;
}

#menuContent::-webkit-scrollbar-track {
    background-color: #F9D1D1;
    border-radius: 15px;
}

#menuContent::-webkit-scrollbar-thumb {
    border-radius: 15px;
    border: solid #F9D1D1 4px;
    background-color: #0B1354;
}