*{
    padding: 0;
    margin: 0;
}
html {
    height: 100%;
}
body{
    height:100%;
    background-color:#FFE7E7;
}
nav{
    
    position: sticky;
    top: 0;
    box-shadow:0px 5px 7px rgba(0,0,0,0.2);
}
ul
{
    display:flex;
}
li{
    text-align:center;
    height: 70px;
    width: 16.65%;
    list-style-type: none;
}

.textAreaPole {
    resize: none;
    width: 100%;
    height: 100%;
    border: none;
    background-color: #FFE7E7;
}
#menu{
    position: absolute;
    top:70px;
    
    
    display:none;
    background-color: #FFA4B6;
   
    width: 69.93%;
    height: 91%;
}

#menuWrapper{
    width: 100%;
    height:8%;
}

.poleTekstowe {
    resize:both;
    overflow:hidden;

    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    margin: 15px;
    border-radius: 15px;
    border: solid #F9D1D1 20px;
    background-color: #FFE6E6;
    width: 300px;
    height: 450px;
}
#menuContent{
    display:flex;
    flex-wrap:wrap;
    padding-top:10px;
    height:99%;
    width:100%;


    overflow-y:scroll;
    
}

#menuButton
{
    margin-left:15px;
    margin-top:7px;
    margin-right: 14px;
    border:none;
    width:30px;
    height:53px;
    
    background: url('icons/menuButton.png') no-repeat;
}

#dodajPoleTekstowe {

    margin-left:27px;
    margin-top:7px;
    border: none;
    width: 54px;
    height: 54px;
    background: url('icons/plus.png') no-repeat;
}

    #dodajPoleTekstowe:hover{
        transform:scale(1.1);
    }

    #content {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
        height: 88%;
        overflow-y: scroll;
        overflow: auto;
    }

li:nth-child(1){
   background-color: #0B1354; 
}
li:nth-child(2){
   background-color: #165BA9; 
}
li:nth-child(3){
   background-color: #A155B9; 
}
li:nth-child(4){
   background-color: #F765A3; 
}
li:nth-child(5){
   background-color: #FFA4B6; 
}
li:nth-child(6){
   background-color: #F9D1D1; 
}

#content::-webkit-scrollbar{
    width:17px;
}
#content::-webkit-scrollbar-track {
    background-color: #F9D1D1;
    border-radius: 15px;
}
#content::-webkit-scrollbar-thumb{
    border-radius:15px;
    border:solid #F9D1D1 4px;
    background-color:#FFA4B6;
}

#menuContent::-webkit-scrollbar {
    width: 17px;
}

#menuContent::-webkit-scrollbar-track {
    background-color: #F9D1D1;
    border-radius: 15px;
}

#menuContent::-webkit-scrollbar-thumb {
    border-radius: 15px;
    border: solid #F9D1D1 4px;
    background-color: #0B1354;
}

#menuButton:hover{
    
    transform:scale(1.2);
}